version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "3000:3000"
    volumes:
      - ./backend/src/db:/app/src/db
    restart: unless-stopped

  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  n8n_data:
